@define-color shadow alpha(black, 0.6);
@define-color inactive_shadow alpha(black, 0.3);
@define-color unmatched_color mix(@theme_base_color, @theme_text_color, 0.9);
@define-color attention_color mix(#ff3b30, @separator_color, 0.7);



ensure-paint {
    min-width: 10px;
    min-height: 10px;
    background: red;
}

.tiled-left,
.tiled-top,
.tiled-bottom,
.tiled-right {
    box-shadow: none;
}

handle {
    transition-property: background, min-height, min-width;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
    transition-delay: 50ms;
}

#main-container.execute-error {
    background: red;
}

window > handle.horizontal {
    min-width: 4px;
    border-radius: 0 10px 10px 0;
}
window > handle.horizontal:hover {
    min-width: 20px;
}

window > handle.vertical {
    min-height: 10px;
    border-radius: 0 0 10px 10px;
}

window > handle.vertical:hover {
    min-height: 20px;
}

window > handle.horizontal:hover {
    background: radial-gradient(ellipse 100% 60% at center right,
        alpha(black, 0.3) 0,
        alpha(black, 0.25) 20%,
        alpha(black, 0.15) 40%,
        alpha(black, 0.05) 70%,
        transparent 100%);
}

window > handle.vertical:hover {
    background: radial-gradient(ellipse 60% 100% at bottom center,
        alpha(black, 0.3) 0,
        alpha(black, 0.25) 20%,
        alpha(black, 0.15) 40%,
        alpha(black, 0.05) 70%,
        transparent 100%);
}

.tooltip-color {
    min-height: 40px;
    min-width: 100px;
    margin: 4px;
    border-radius: 8px;
}

window#launcher { background: none; }

window#launcher match-row {
    background: @base_transparent;
}

window#launcher match-row:selected {
    background: @selected_match_row;
    color: @theme_text_color;
}

#result-box matchrow-separator:first-child,
#result-box matchrow-separator:selected {
    background: @separator_color;
}

#result-box matchrow-separator {
    min-height: 1px;
    background: linear-gradient(to right, @base_transparent 4%, @separator_color 20%, @separator_color 80%, @base_transparent 96%);
}

window#launcher.client-side-border.execute-error #main-container {
    border-color: @attention_color;
}

window#launcher.client-side-border.executing #main-container > * {
    filter: saturate(0);
}

window#launcher.client-side-shadow.execute-error #main-container {
    box-shadow: 0 4px 15px 4px #6000006A;
}

window#launcher.client-side-shadow #main-container {
    box-shadow: 0 4px 15px 4px #0000006A;
    margin: 30px 24px 30px 24px;
}

window#launcher.client-side-shadow:backdrop #main-container {
    box-shadow: 0 4px 15px 4px #00000024;
}

window#launcher.client-side-border #main-container {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: @separator_color;
}

match-row {
    color: @unmatched_color;
}

#main-container {
    transition-property: box-shadow, margin, border-radius, border-color;
    transition-timing-function: ease-out;
    transition-duration: 120ms;
}

window#launcher text-image,
window#launcher match-row-label {
    transition-duration: 120ms;
}

window#launcher text-image,
window#launcher match-row-label {
    transition-property: opacity, filter;
}

window#launcher:backdrop text-image,
window#launcher:backdrop match-row-label {
    opacity: 0.6;
}

#query-container {
    background: @bg_transparent;
    padding: 8px 8px;
    font-size: 23pt;
    font-weight: 300;
}

@keyframes backdrop-dim {
    0%   { --backdrop-alpha: 1.0; --placeholder-alpha: 0.7; }
    5%   { --backdrop-alpha: 0.98; --placeholder-alpha: 0.686; }
    10%  { --backdrop-alpha: 0.96; --placeholder-alpha: 0.672; }
    15%  { --backdrop-alpha: 0.94; --placeholder-alpha: 0.658; }
    20%  { --backdrop-alpha: 0.92; --placeholder-alpha: 0.644; }
    25%  { --backdrop-alpha: 0.90; --placeholder-alpha: 0.630; }
    30%  { --backdrop-alpha: 0.88; --placeholder-alpha: 0.616; }
    35%  { --backdrop-alpha: 0.86; --placeholder-alpha: 0.602; }
    40%  { --backdrop-alpha: 0.84; --placeholder-alpha: 0.588; }
    45%  { --backdrop-alpha: 0.82; --placeholder-alpha: 0.574; }
    50%  { --backdrop-alpha: 0.80; --placeholder-alpha: 0.560; }
    55%  { --backdrop-alpha: 0.78; --placeholder-alpha: 0.546; }
    60%  { --backdrop-alpha: 0.76; --placeholder-alpha: 0.532; }
    65%  { --backdrop-alpha: 0.74; --placeholder-alpha: 0.518; }
    70%  { --backdrop-alpha: 0.72; --placeholder-alpha: 0.504; }
    75%  { --backdrop-alpha: 0.70; --placeholder-alpha: 0.490; }
    80%  { --backdrop-alpha: 0.68; --placeholder-alpha: 0.476; }
    85%  { --backdrop-alpha: 0.66; --placeholder-alpha: 0.462; }
    90%  { --backdrop-alpha: 0.64; --placeholder-alpha: 0.448; }
    95%  { --backdrop-alpha: 0.62; --placeholder-alpha: 0.434; }
    100% { --backdrop-alpha: 0.6; --placeholder-alpha: 0.42; }
}

@keyframes backdrop-undim {
    0%   { --backdrop-alpha: 0.6; --placeholder-alpha: 0.42; }
    5%   { --backdrop-alpha: 0.62; --placeholder-alpha: 0.434; }
    10%  { --backdrop-alpha: 0.64; --placeholder-alpha: 0.448; }
    15%  { --backdrop-alpha: 0.66; --placeholder-alpha: 0.462; }
    20%  { --backdrop-alpha: 0.68; --placeholder-alpha: 0.476; }
    25%  { --backdrop-alpha: 0.70; --placeholder-alpha: 0.490; }
    30%  { --backdrop-alpha: 0.72; --placeholder-alpha: 0.504; }
    35%  { --backdrop-alpha: 0.74; --placeholder-alpha: 0.518; }
    40%  { --backdrop-alpha: 0.76; --placeholder-alpha: 0.532; }
    45%  { --backdrop-alpha: 0.78; --placeholder-alpha: 0.546; }
    50%  { --backdrop-alpha: 0.80; --placeholder-alpha: 0.560; }
    55%  { --backdrop-alpha: 0.82; --placeholder-alpha: 0.574; }
    60%  { --backdrop-alpha: 0.84; --placeholder-alpha: 0.588; }
    65%  { --backdrop-alpha: 0.86; --placeholder-alpha: 0.602; }
    70%  { --backdrop-alpha: 0.88; --placeholder-alpha: 0.616; }
    75%  { --backdrop-alpha: 0.90; --placeholder-alpha: 0.630; }
    80%  { --backdrop-alpha: 0.92; --placeholder-alpha: 0.644; }
    85%  { --backdrop-alpha: 0.94; --placeholder-alpha: 0.658; }
    90%  { --backdrop-alpha: 0.96; --placeholder-alpha: 0.672; }
    95%  { --backdrop-alpha: 0.98; --placeholder-alpha: 0.686; }
    100% { --backdrop-alpha: 1.0; --placeholder-alpha: 0.7; }
}

#query-container {
    --backdrop-alpha: 1.0;
    color: alpha(@theme_text_color, var(--backdrop-alpha));
}

#query-container:backdrop {
    animation: backdrop-dim 120ms ease forwards;
}

#query-container:not(:backdrop) {
    animation: backdrop-undim 120ms ease forwards;
}

#query-container.query-empty {
    color: alpha(@theme_text_color, var(--placeholder-alpha));
}


#query-container > #draggable-image {
    padding-left: 4px;
}

#progress-indicator {
    min-height: 1px;
}

match-row match-row-label text-image {
    min-width: 12px;
    min-height: 12px;
}

match-row match-row-label.description {
    font-size: 9pt;
}

match-row match-row-label.description > match-row-label.description-container .description-text,
match-row match-row-label.description match-row-label .timestamp {
    margin-right: 4px;
    font-size: 0;
    opacity: 0;
    transition: font-size 300ms, opacity 300ms ease 0;
}


/*match-row match-row-label.description > box > box.uptime-container,*/
match-row match-row-label.description > match-row-label.state-container,
match-row match-row-label.description > match-row-label.pid-container,
match-row match-row-label.description > match-row-label.flags-container {
    min-width: 30px;
}

match-row match-row-label.description > match-row-label > label {
    /*background: blue;*/
    margin-left: 2px;
    margin-right: 2px;
}


match-row match-row-label.description > match-row-label.cpu-container {
    min-width: 54px;
}
match-row match-row-label.description > match-row-label.state-container {
    min-width: 44px;
}
match-row match-row-label.description.process-description > match-row-label.memory-container {
    min-width: 80px;
}

match-row match-row-label.description > match-row-label:first-child {
    margin-left: 0;
}

match-row match-row-label.description > match-row-label.description-container:hover .description-text,
match-row match-row-label.description match-row-label.timestamp-group:hover .timestamp {
    font-size: 9pt;
    transition: font-size 300ms, opacity 300ms ease 200ms;
    opacity: 1;
}

match-row.horizontal match-row-label.description * {
    opacity: 0.6;
}

.clickable:hover {
    box-shadow:
        0 0.5px @theme_text_color,
        0 -0.5px inset @theme_text_color;
    border-color: @theme_text_color;
    border-style: solid;
}
match-row match-row-label.description .clickable:hover {
    text-decoration: underline;
}

match-row.horizontal > .description {
    margin-left: 4px;
}

match-row > .title,
match-row.vertical > .description {
    margin-left: 8px;
}

match-row {
    padding: 3px 8px;
}

window#launcher.highlighted-alt match-row:selected .shortcut-alt,
window#launcher.highlighted match-row:selected row-number,
window#launcher.highlighted-alt match-row:selected row-number,
window#launcher.highlighted match-row:selected .shortcut {
    color: mix(@theme_base_color, @theme_text_color, 0.78);
}

match-row row-number {
    min-width: 0.8em;
}

window#launcher.highlighted-alt match-row label.shortcut-alt,
window#launcher.highlighted match-row label.shortcut {
    min-width: 15px;
    margin-left: 8px;
}

match-row row-number,
match-row .shortcut-alt,
match-row .shortcut {
    color: @unfocused_fg_color;
    transition: opacity 60ms, font-size 0ms linear 0ms, margin 60ms;
    opacity: 1.0;
}

window#launcher tooltip > box > label.tooltip-label {
    margin: 8px;
}

window#launcher tooltip > box > widget.tooltip-image {
    border-radius: 10px;
    margin: 0;
    border: 1px solid @separator_color;
}

window#launcher tooltip > box {
    margin: 2px 5px 10px 5px;
    border-radius: 10px;

    box-shadow: 0 1px 7px 0px @shadow;
    border: 1px solid @separator_color;
    font-family: monospace;
}

window#launcher tooltip .tooltip-title {
    font-family: sans;
    font-weight: 500;
    font-size: 1.1rem;
}

window#launcher tooltip .thumbnail-widget {
    margin: 10px;
    outline: 1px solid alpha(@borders, 0.5);
    border-radius: 6px;
    box-shadow: 0 1px 7px 0px @shadow;
}



window#launcher:not(.highlighted-alt):not(.highlighted) match-row row-number,
window#launcher:not(.highlighted-alt) match-row .shortcut-alt,
window#launcher:not(.highlighted) match-row .shortcut {
    transition: opacity 60ms, font-size 0ms linear 60ms, min-width 60ms linear 60ms, margin 120ms;
    min-width: 0;
    font-size: 0;
    opacity: 0.0;
}

@keyframes cursor-blink {
    15% { opacity: 1.0; }
    30% { opacity: 0.0; }
    70% { opacity: 0.0; }
    85% { opacity: 1.0; }
}

#text-cursor:backdrop {
    opacity: 0.0;
}
.placeholder-query #text-cursor {
    background-color: @theme_text_color;
}

#text-cursor {
    animation: none;
    background-color: @theme_text_color;
    min-width: 1.5px;
    transition: opacity 120ms;
    opacity: 1.0;
}

#text-cursor.blinking:not(:backdrop) {
    animation-name: cursor-blink;
    animation-duration: 1.2s;
    animation-delay: 500ms;
    animation-iteration-count: 10;
}
